# dependencies
node_modules/

# wrangler / cloudflare
.wrangler/
.dev.vars
*.local

graf-deploy.log

.env

# build & test artifacts
dist/*
!dist/worker.mjs
coverage/
*.log

# editor / os
.DS_Store
.idea/
.vscode/